@keyframes borderAnimation {
  0% {
    border-color: #4ae2d7;
  }
  40% {
    border-color: #00abcb;
  }
  60% {
    border-color: #00abcb;
  }
  100% {
    border-color: #4ae2d7;
  }
}

.HomeScreen {
  height: 720px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  /*transform: scale(1.5) translate(200px, 100px);*/
}
