.App {
  width: 1280px;
  height: 720px;
  background-color: #ebebeb;
  position: absolute;
  top: 104px;
  left: 476px;
}

.AppContainer {
  margin-left: 880px;
  margin-top: 100px;
  transform: scale3d(0.6, 0.6, 1);
  transform-origin: left top;
}
